@font-face {
  font-family: 'Lilita';
  src: url('../elements/fonts/Lilita.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medula';
  src: url('../elements/fonts/Medula.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('../elements/fonts/ZillaSlab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}