@use "colors";
@use "themes";

footer {
  @extend .green-theme;
  font-size: 3vw;
  padding: 5vh;
  width: 100%;
  height: fit-content;
  border-radius: 0 0 12px 12px;
  background: url("../elements/images/footer-BG.svg");
  background-size: cover;
  h1 {
    font-weight: bold;
    & h2 {
      margin-bottom: -30px;
    }
  }
}
