@use "colors";
@use "fonts";
@use "themes";

header {
  @extend .green-theme;
  border-radius: 12px 12px 0 0;
  display: grid;

  .header__centered-items {
    font-family: 'Lilita';

    img {
      width: 5rem;
      padding-top: 2vh;
    }
    // .header__title {
    // }
  }

  .header__nav {
   color: colors.$dark-green;
  }
}
