.contact-section--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .section__contact--mobile-insertion {
    width: 40vh;
    height: 20vh;
    margin: -24px;
  }
 .section__contact-num {
  padding: 2vh;
 }
}
