@use "colors";

.section-speech__listened {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.speech-section--open-container1 + .speech-section--open-container2 + .speech-section--open-container3 {
  display: flex;

  img {
    width: 45%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  button {
    background-color: transparent;
    color: colors.$blue-notice;
    font-weight: bolder;
    border: none;
    outline: none;
    padding: 5%;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .speech-section--open-container1 + .speech-section--open-container2 + .speech-section--open-container3 {
    flex-direction: column;

    img {
      width: 100%;
      margin-bottom: 5%;
    }
  }
}


