@use "colors";

.main__date-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section__date-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Medula";
  font-size: 5vw;

  img {
    width: 35%;
    min-width: 130px;
    max-width: 600px;
    height: auto;
    margin-top: 6vh;
  }
  .section__date-photoS {
    border-radius: 20px 0;
  }
  .section__date-photoB {
    border-radius: 0 20px;
  }

  .section__date-text {
    padding: 2vh;
    font-size: 3,5vw;
  }
}

.section__date--timer {
  display: flex;
  justify-content: space-around;
  margin: 6vh;
  width: 100%;

  .yellow-btn {
    border: solid 3px colors.$yellow;
    border-radius: 12px;
    flex: 1;
    margin: 0 1vh;
    padding: 1vh;
    font-size: 2vw;
  }

  .section__date-number {
    font-size: 8vw;
    font-weight: bold;
    font-family: "Medula";
    color: colors.$brick;
  }
}

@media (max-width: 500px) {
  .section__date-content {
    flex-wrap: wrap;
    justify-content: center;
    img {
      max-width: 40%, 650px;
      margin: 2px 1vh;
    }
  }

  #section__date-text {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }
}
