.alert {
  color: #CA503E;
}

@font-face {
  font-family: "Lilita";
  src: url("../elements/fonts/Lilita.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Medula";
  src: url("../elements/fonts/Medula.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZillaSlab";
  src: url("../elements/fonts/ZillaSlab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.green-theme, .main__nav-section, footer, header {
  background-color: #B5C9C0;
  color: #E8E6DA;
}

.pink-theme, .main__date-section, .main__asked-section {
  background-color: #DBD5CA;
}

.white-theme, .main__invitation-section {
  background-color: #E8E6DA;
}

header {
  border-radius: 12px 12px 0 0;
  display: grid;
}
header .header__centered-items {
  font-family: "Lilita";
}
header .header__centered-items img {
  width: 12vw;
  padding-top: 2vh;
}
header .header__nav {
  color: #82978D;
}

.header__label .header__menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 20vh;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header__label .header__hamburger {
  position: absolute;
  top: 145px;
  left: 40px;
  width: 30px;
  height: 3px;
  background: #FFC164;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
.header__label .header__hamburger:after, .header__label .header__hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #82978D;
}
.header__label .header__hamburger:before {
  top: -10px;
}
.header__label .header__hamburger:after {
  bottom: -10px;
}
.header__label input {
  display: none;
}
.header__label input:checked + .header__menu {
  box-shadow: 0 0 0 100vw #f2f2f2;
  border-radius: 50px;
}
.header__label input:checked + .header__menu .header__hamburger {
  transform: rotate(45deg);
}
.header__label input:checked + .header__menu .header__hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
.header__label input:checked + .header__menu .header__hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
.header__label input:checked + .header__menu + ul {
  opacity: 1;
}
.header__label ul {
  z-index: 200;
  position: absolute;
  top: 30vw;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}
.header__label li {
  margin-bottom: 1em;
  display: block;
  color: #82978D;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

footer {
  font-size: 3vw;
  padding: 5vh;
  width: 100%;
  height: fit-content;
  border-radius: 0 0 12px 12px;
  background: url("../elements/images/GGG.svg");
}
footer h1 {
  font-weight: bold;
}

.section__transition {
  margin: -100 auto;
}

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0;
  transform: translateY(20.35px);
}
.honeycomb-cell {
  flex: 0 1 148px;
  max-width: 148px;
  height: 81.4px;
  margin: 38.7619047619px 6px 12px;
  padding: 0.5em;
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}
.honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #ca503e;
  font-family: "Lilita";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1, 5px;
  transition: opacity 350ms;
  text-shadow: -2px -3px 0 rgba(72, 16, 16, 0.2470588235), 2px -3px 0 rgba(72, 16, 16, 0.2470588235), -2px 3px 0 rgba(72, 16, 16, 0.2470588235), 2px 3px 0 rgba(72, 16, 16, 0.2470588235);
  background: radial-gradient(rgba(80, 18, 18, 0.686) 0%, transparent 80%);
}
.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}
.honeycomb-cell__image {
  object-fit: cover;
  object-position: center;
}
.honeycomb-cell::before, .honeycomb-cell::after {
  content: "";
}
.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #FFC164;
  transform: scale(1.055);
}
.honeycomb-cell::after {
  background: #bbb2ce;
  opacity: 0.5;
  transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell__title {
  opacity: 0;
}
.honeycomb-cell:hover::before {
  background: #82978D;
}
.honeycomb-cell:hover::after {
  opacity: 0;
}
.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 148px;
  margin: 0 6px;
}

@media (max-width: 320px) {
  .honeycomb-cell {
    margin: 46.7px 12px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 74px);
    margin-left: calc(50% - 74px);
  }
  .honeycomb__placeholder:nth-child(3n+5) {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  .honeycomb-cell:nth-child(5n+4) {
    margin-left: calc(50% - 160px);
  }
  .honeycomb-cell:nth-child(5n+5) {
    margin-right: calc(50% - 160px);
  }
  .honeycomb__placeholder:nth-child(5n), .honeycomb__placeholder:nth-child(5n+3) {
    display: block;
  }
}
@media (min-width: 640px) {
  .honeycomb-cell:nth-child(7n+7), .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
    margin-right: calc(50% - 234px);
  }
}
.main__date-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section__date-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Medula";
  font-size: 5vw;
}
.section__date-content img {
  width: 35%;
  min-width: 130px;
  max-width: 600px;
  height: auto;
  margin-top: 6vh;
}
.section__date-content .section__date-photoS {
  border-radius: 20px 0;
}
.section__date-content .section__date-photoB {
  border-radius: 0 20px;
}
.section__date-content .section__date-text {
  padding: 2vh;
  font-size: 3, 5vw;
}

.section__date--timer {
  display: flex;
  justify-content: space-around;
  margin: 6vh;
  width: 100%;
}
.section__date--timer .yellow-btn {
  border: solid 3px #FFC164;
  border-radius: 12px;
  flex: 1;
  margin: 0 1vh;
  padding: 1vh;
  font-size: 2vw;
}
.section__date--timer .section__date-number {
  font-size: 8vw;
  font-weight: bold;
  font-family: "Medula";
  color: #CA503E;
}

@media (max-width: 500px) {
  .section__date-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section__date-content img {
    max-width: 40%, 650px;
    margin: 0 1vh;
  }
  #section__date-text {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }
}
.contact-section--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-section--flex .section__contact--mobile-insertion {
  width: 40vh;
  height: 20vh;
  margin: -24px;
}
.contact-section--flex .section__contact-num {
  padding: 2vh;
}

.section__timeline--styling .section__timeline-item:after, .section__timeline--styling .section__timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.timeline-section {
  max-width: 1100px;
  margin: 0 auto;
}
.timeline-section img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: "ZillaSlab";
  font-weight: 500;
}

.section__timeline--styling {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.section__timeline--styling:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #CA503E;
  left: 50%;
  top: 0;
  position: absolute;
}
.section__timeline--styling:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
.section__timeline--styling .section__timeline-item {
  margin-bottom: 50px;
  position: relative;
}
.section__timeline--styling .section__timeline-item .section__timeline-icon {
  background: #CA503E;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.section__timeline--styling .section__timeline-item .section__timeline-content {
  width: 45%;
  background: #E8E6DA;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section__timeline--styling .section__timeline-item .section__timeline-content h2 {
  padding: 15px;
  background: #CA503E;
  color: #E8E6DA;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.section__timeline--styling .section__timeline-item .section__timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #CA503E;
}
.section__timeline--styling .section__timeline-item .section__timeline-content.right {
  float: right;
}
.section__timeline--styling .section__timeline-item .section__timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #CA503E;
}

@media screen and (max-width: 450px) {
  .section__timeline--styling {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  .section__timeline--styling:before {
    left: 0;
  }
  .section__timeline--styling .section__timeline-item .section__timeline-content {
    width: 90%;
    float: right;
  }
  .section__timeline--styling .section__timeline-item .section__timeline-content:before, .section__timeline--styling .section__timeline-item .section__timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #CA503E;
  }
  .section__timeline--styling .section__timeline-item .section__timeline-icon {
    left: 0;
  }
}
:root {
  --circle-diameter: 30vh;
}

.map-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  scroll-behavior: smooth;
}
.map-section .section__map-text {
  margin-bottom: 5vh;
}

.section__google-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  overflow: hidden;
  border-radius: var(--circle-diameter);
  transition: 5000ms;
  cursor: grab;
}

.section__google-map .section__map-frame {
  width: 100vw;
  height: 100vh;
}

.section__google-map iframe {
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events: visibleStroke;
}

.section__google-map:hover {
  width: 80vw;
  height: 60vh;
  border-radius: 0;
}

.hidden {
  display: none;
}

.notice-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__notice-image-container img {
  max-width: 29vh;
  max-height: 100%;
}

@media (min-width: 700px) {
  .section__notice {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .section__notice-image-container {
    margin: 0;
    padding: 0;
  }
  .section__notice-image-container img {
    max-width: 45%;
    max-height: 45%;
  }
}
.notice-btn {
  color: #18485e;
  background: #E8E6DA;
  width: 31px;
  height: 31px;
  margin-top: 3vh;
  border: 1px solid #E8E6DA;
  border-radius: 80px;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
  transition: all 0.23s;
  box-shadow: 0 0 0 0px #FFC164;
}
.notice-btn:hover {
  box-shadow: 0 0 0 10px rgba(232, 194, 99, 0.146);
  left: 34px;
}
.notice-btn:hover:before {
  width: 40px;
  left: -40px;
}
.notice-btn.next {
  left: auto;
  right: 30px;
}
.notice-btn.next:hover {
  right: 34px;
}
.notice-btn.next:hover:before {
  width: 40px;
  right: -40px;
}
.notice-btn.next:before {
  left: auto;
  right: -33px;
}
.notice-btn:before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 1px;
  background: #E8E6DA;
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  transition: all 0.2s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
  padding: 2vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: "ZillaSlab";
  font-size: 3vw;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body .underline {
  text-decoration: underline dotted;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .sections {
  padding: 5vh;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
