// ERRORS ? Be careful with the order of the imports / the paths !
@use "colors";
@use "fonts";
@use "themes";

@use "header";
@use "hamburger";
@use "footer";
@use "bg-transitions";

@use "honeycomb";
@use "section-date";
@use "p-contact";
@use "p-timeline";
@use "p-photos";
@use "p-map";
@use "p-notice";


html {
  padding: 2vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'ZillaSlab';
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  .sections {
    padding: 5vh;
    margin: 0;
  }
}
